In [ ]:
#Crear una variable url para asignar la ruta url del archivo csv de entrenamiento guardado en mi github
url = 'https://raw.githubusercontent.com/javalillo13689/tesst/master/train.csv'

#Importaremos el url de nuestra data para hacer el test.
url_2 ='https://raw.githubusercontent.com/javalillo13689/tesst/master/test.csv'

#Importar la librería pandas para trabajar con dataframes y guardar esta libreria como una variable pd
import pandas as pd
import numpy as np
import seaborn as sns

#Crear una variable train para guardar la data de entrenamiento a partir del archivo csv obteniendo así un dataframe
#El índice del dataframe serán los valores que aparecen en la columna Id del archivo csv
train = pd.read_csv(url, index_col='Id')
test = pd.read_csv(url_2, index_col='Id')

In [2]:
train.head(2)

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
Id,,,,,,,,,,,,,,,,,,,,,
1,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
2,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5

In [3]:
#Crear una variable list_0 para asignar una lista con los nombres de las columnas descritas
list_0=['Elevation', 'Aspect', 'Slope',
        'Horizontal_Distance_To_Roadways','Horizontal_Distance_To_Fire_Points','Wilderness_Area1',
       'Wilderness_Area2', 'Wilderness_Area3', 'Wilderness_Area4',
       'Soil_Type1', 'Soil_Type2', 'Soil_Type3', 'Soil_Type4', 'Soil_Type5',
       'Soil_Type6', 'Soil_Type7', 'Soil_Type8', 'Soil_Type9', 'Soil_Type10',
       'Soil_Type11', 'Soil_Type12', 'Soil_Type13', 'Soil_Type14',
       'Soil_Type15', 'Soil_Type16', 'Soil_Type17', 'Soil_Type18',
       'Soil_Type19', 'Soil_Type20', 'Soil_Type21', 'Soil_Type22',
       'Soil_Type23', 'Soil_Type24', 'Soil_Type25', 'Soil_Type26',
       'Soil_Type27', 'Soil_Type28', 'Soil_Type29', 'Soil_Type30',
       'Soil_Type31', 'Soil_Type32', 'Soil_Type33', 'Soil_Type34',
       'Soil_Type35', 'Soil_Type36', 'Soil_Type37', 'Soil_Type38',
       'Soil_Type39', 'Soil_Type40', 'Cover_Type']

#Crear una variable train_main_variables para guardar un dataframe con solo las columnas de list_0 a partir del dataframe train
train_main_variables=train[list_0]

In [4]:
train.head(2)

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
Id,,,,,,,,,,,,,,,,,,,,,
1,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
2,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5

In [5]:
#Crear una variable list_1 para asignar una lista con los nombres de las columnas descritas
list_1=['Horizontal_Distance_To_Hydrology','Vertical_Distance_To_Hydrology']

### Haremos un rápido feature engineer de distancia pitagórica.

In [6]:
#Importar la libreria math para trabajar con funciones matemáticas
import math

#Definimos una funcion que denominamos pitagoras con dos parámetros que sacará la raíz cuadrada de la suma de los cuadrados de ambos parámetros
def pitagoras (a, b): 
    return math.sqrt(a**2 + b**2)

#Agregamos la columna pitagoras al dataframe train_pitagoras_distance1 donde guardar el resultado de ejecutar la función pitagoras fila por fila
train['pitagoras'] = train.apply(lambda row : pitagoras(row['Horizontal_Distance_To_Hydrology'],row['Vertical_Distance_To_Hydrology']), axis = 1)
#Tambien transformamos el test
test['pitagoras'] = train.apply(lambda row : pitagoras(row['Horizontal_Distance_To_Hydrology'],row['Vertical_Distance_To_Hydrology']),axis=1)

In [7]:
train.head(2)

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type,pitagoras
Id,,,,,,,,,,,,,,,,,,,,,
1,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,5,258.000000
2,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,5,212.084889

Seguiremos trabajando algo más las variables

In [8]:
list_2=['Hillshade_9am','Hillshade_Noon','Hillshade_3pm']
#Voy a sacar la media de las sombras de estas tres variables
train['hillmean'] = train[list_2].mean(axis=1) 
test['hillmean'] = test[list_2].mean(axis=1)

Tendremos que trabajar ahora con el test

In [9]:
#Crear una variable X para guardar un dataframe train2
X = train

In [10]:
#Crear una variable y para guardar solo la columna Cover_Type de la variable X porque esta variable es el objetivo de la predicción
y = X.Cover_Type

#Eliminar la columna Cover_Type de la variable X para solo conservar las variables predictoras.
#El parámetro inplace=True permite actualizar la variable X
X.drop(['Cover_Type'], axis=1, inplace=True)

In [11]:
#Importamos la librería sklearn y model_selection para utilizar train_test_split
from sklearn.model_selection import train_test_split

#Usando train_test_split obtenemos las muestras de entrenamiento (train) y test a partir de X tomando el 60% y 40% respectivamente
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.6, test_size=0.4,random_state=0)

#### Ahora jugaremos con los modelos

In [12]:
#Importamos la librería xgboost para utilizar XGBClassifier utilizado en la predicción de clases (variables categóricas)
#En este ejemplo la clase de la variable Category_Type
from xgboost import XGBClassifier

#Creamos la variable xgb_c para guardar XGBClassifier
xgb_c=XGBClassifier()

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
#Utilizamos los parámetros del modelo xgb_c para utilizar las muestras de entrenamiento
#El parámetro early_stopping_rounds indica el límite de iteraciones del modelo
#El parámetro eval_set indica una referencia para comparar los resultados de cada iteración del modelo
xgb_c.fit(X_train, y_train, 
             early_stopping_rounds=7, 
             eval_set=[(X_valid, y_valid)], 
             verbose=False)

In [ ]:
#Importamos la librería sklearn y model_selection para utilizar cross_val_score
from sklearn.model_selection import cross_val_score

#Usando cross_val_score iteramos el modelo xgb_c a partir de las muestras de entrenamiento
#El parámetro cv hace referencia a las particiones de las muestras de entrenamiento para las iteraciones
cross_val_score(xgb_c, X_train, y_train, cv=5)

In [ ]:
#Obtenemos las predicciones utilizando el parámetro predict del modelo xgb_c a partir del dataframe train4
#Creamos la variable predictions para guardar las predicciones
predictions = xgb_c.predict(train4)

In [ ]:
#Creamos la variable output para guardar un dataframe utilizando los índices de X_test y las predicciones guardadas en la variable predictions
output = pd.DataFrame({'Id': train4.index,
                       'Cover_Type': predictions})

#Generamos un archivo csv con nombre submission a partir del dataframe output
output.to_csv('submission.csv', index=False)

### LightGBM